@media (min-width:500px) and (max-width:576px) {
html,body{
    overflow-x: hidden;
}body{
}

    .header{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        gap: 40px;
            margin-left: 0px !important;
            margin-top: 140px !important;

    
       
    }
    .text-container{
         margin-left: 0px !important;
    width:100%;
    }
    .card-section .card-container{
        display: flex;
        flex-direction:column;
        align-items: center;
        gap: 30px;

    }
    .Gemini .container{
         display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .google-logo .container div{
         display: flex;
        flex-direction:column;
        align-items: center;
        gap: 30px;
    }
    h1{
        font-size: 32px !important;
    }
}
@media (min-width:320px) and (max-width:400px) {
    
html,body{
    overflow-x: hidden;
} 

    .header{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        gap: 40px;
            margin-left: 0px !important;
            /* margin-top: 140px !important; */
        }
    
       
  
    .text-container{
         margin-left: 0px !important;
    /* width:100%; */
    /* display: flex;
    flex-direction: column;
    flex-wrap: wrap; */
        width: 330px !important;


    }
    .card-section .card-container{
        display: flex;
        flex-direction:column;
        align-items: center;
        gap: 30px;

    }
    .Gemini .container{
         display: flex;
        flex-direction: column-reverse;
        align-items: center;
         margin-left: 0px !important;

    }
    .google-logo .container div{
         display: flex;
        flex-direction:column;
        align-items: center;
        gap: 30px;
    }
    h1{
        font-size: 32px !important;
        
    }
/* .container{
    height: 600px;
} */
/* 
.Gemini .notebook{

    height: 800px;
} */
 .Gemini .notebook{
    display: flex;
    gap: 30px;
 }

.last{
    margin: 0px !important;
    height: 100%;
    padding: 20px;
}
  }
  @media (min-width:401px) and (max-width:499px) {
    html,body{
    overflow-x: hidden;
} 

    .header{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        gap: 40px;
            margin-left: 0px !important;
            /* margin-top: 140px !important; */
        }
    
       
  
    .text-container{
         margin-left: 0px !important;
    /* width:100%; */
    /* display: flex;
    flex-direction: column;
    flex-wrap: wrap; */
        width: 330px !important;


    }
    .card-section .card-container{
        display: flex;
        flex-direction:column;
        align-items: center;
        gap: 30px;

    }
    .Gemini .container{
         display: flex;
        flex-direction: column-reverse;
        align-items: center;
         margin-left: 0px !important;

    }
    .google-logo .container div{
         display: flex;
        flex-direction:column;
        align-items: center;
        gap: 30px;
    }
    h1{
        font-size: 32px !important;
        
    }
/* .container{
    height: 600px;
} */
/* 
.Gemini .notebook{

    height: 800px;
} */
 .Gemini .notebook{
    display: flex;
    gap: 30px;
 }

.last{
    margin: 0px !important;
    height: 100%;
    padding: 20px;
}
  }
